html, body {
    background: rgba(134, 134, 134);
    color: aliceblue;
}

h1 {
    text-align: center;
}

.quantik {
  height: fit-content;
  display: flex;
  justify-content: space-evenly;
}

.bouton_piece_blocked {
   /* background-color: rgba(85, 85, 85, 0.589);*/
}

.piece_form_container, .piece_block_container {
    width: 20%;
    /*margin: 0 auto;*/
    margin-bottom: 20px;
    /*background-color: rgba(188, 201, 201, 0.678);*/
    background-color: rgba(26, 26, 26, 0.678);
    padding-left: 15px;
    padding-top: 15px;
    padding-right: 15px;
    border: 2px solid black;
    /*border-radius: 50px;*/
}

form, .piece_block_container, .plateau_conteneur {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
}

button {
    margin-bottom: 10px;
    background-color: transparent;
   /* border: none;*/
    padding: 20px;
    /*background-color: crimson;*/
}

.button_cancel {
    background-color: rgb(175, 34, 34);
    border: 1px solid black;
    border-radius: 5px;
    width: 10%;
    color: white;
    font-size: 20px;
}

.button_cancel:hover {
    font-size: 21px;
    cursor: pointer;
}
/*
img:hover {    
    height: 32px;
    opacity: 0.7;
    transform: rotate(-5deg);
}*/

.tableau_container {
    padding: 30px;
}

.button_active:hover {
    cursor: pointer;
    background-color: rgba(189, 185, 185, 0.685);
    transition: 0.8s;
}

.button_disabled, .button_disabled img  {
    background-color: rgb(102, 102, 102);
    opacity: 0.4;
}

.button_active, .button_disabled {
    border-radius: 50%;
}

.button_active img, .button_disabled img {
    /*width: 40px;
    height: 40px;*/
}


/*
@media screen and (min-width: 800px) {
    .piece_form_container, .piece_block_container {
      width: 17%;
      padding: 50px;
    }
  } */

.plateau_conteneur {
    background-color: rgba(32, 32, 32, 0.918);
    border-radius: 80px;
    border: 1px solid white;
}

.plateau_conteneur button {
    margin: 5px;
}

.form_button_cancel {
    display: flex;
    justify-content: center;
}

.plateau_non_editable tr:nth-child(1) td:nth-child(2), 
.plateau_editable tr:nth-child(3) td:nth-child(2)  {
    border-right: 2px solid rgba(128, 128, 128, 0.603);
}

.plateau_non_editable tr:nth-child(1) td:nth-child(1),
.plateau_editable tr:nth-child(3) td:nth-child(1) {
    border-top-left-radius: 80px;
}

.plateau_non_editable tr:nth-child(2) td:nth-child(2), 
.plateau_editable tr:nth-child(4) td:nth-child(2) {    
    border-right: 2px solid rgba(128, 128, 128, 0.603);
    border-bottom: 2px solid rgba(128, 128, 128, 0.603);
    border-bottom-right-radius: 50px;
}

.plateau_non_editable tr:nth-child(2) td:nth-child(1), 
.plateau_editable tr:nth-child(4) td:nth-child(1) {       
    border-bottom: 2px solid rgba(128, 128, 128, 0.603);
}

table {
    border-spacing: 0;
}

.plateau_non_editable tr:nth-child(3) td:nth-child(3),
.plateau_editable tr:nth-child(5) td:nth-child(3) {
    border-top: 2px solid rgba(128, 128, 128, 0.603);
    border-left: 2px solid rgba(128, 128, 128, 0.603);
    border-top-left-radius: 50px;
}

.plateau_non_editable tr:nth-child(4) td:nth-child(3),
.plateau_editable tr:nth-child(6) td:nth-child(3) {
    border-left: 2px solid rgba(128, 128, 128, 0.603);
}

.plateau_non_editable tr:nth-child(3) td:nth-child(4),
.plateau_editable tr:nth-child(5) td:nth-child(4) {
    border-top: 2px solid rgba(128, 128, 128, 0.603);
}

.plateau_non_editable tr:nth-child(4) td:nth-child(4),
.plateau_editable tr:nth-child(6) td:nth-child(4) {
    border-bottom-right-radius: 80px;
}


.plateau_non_editable tr:nth-child(2) td:nth-child(2),
.plateau_non_editable tr:nth-child(2) td:nth-child(1),
.plateau_non_editable tr:nth-child(1) td:nth-child(1), 
.plateau_non_editable tr:nth-child(1) td:nth-child(2),
.plateau_non_editable tr:nth-child(3) td:nth-child(3),
.plateau_non_editable tr:nth-child(4) td:nth-child(3),
.plateau_non_editable tr:nth-child(3) td:nth-child(4),
.plateau_non_editable tr:nth-child(4) td:nth-child(4),
.plateau_editable tr:nth-child(4) td:nth-child(1),
.plateau_editable tr:nth-child(3) td:nth-child(1),
.plateau_editable tr:nth-child(3) td:nth-child(2),
.plateau_editable tr:nth-child(4) td:nth-child(2),
.plateau_editable tr:nth-child(5) td:nth-child(3),
.plateau_editable tr:nth-child(5) td:nth-child(4),
.plateau_editable tr:nth-child(6) td:nth-child(3),
.plateau_editable tr:nth-child(6) td:nth-child(4) {
    background-color: rgba(65, 65, 65, 0.952);
}

table {
    height: fit-content;
}